.info-tooltip-wrapper {
  display: inline-block;
  position: relative;
}

.info-tooltip-icon {
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  background-color: #fff;
  border-radius: 0 0 50% 50%;
  color: #1a1a1a;
  cursor: pointer;
  font-weight: 700;
  font-size: 13px;
  position: relative;
  z-index: 4;
  user-select: none;
}

.info-tooltip-icon::before {
  content: '';
  position: absolute;
  top: 0;
  right: 100%;
  background-color: transparent;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  box-shadow: 12px -12px 0 white;
}

.info-tooltip-icon::after {
  content: '';
  position: absolute;
  top: 0;
  left: 100%;
  background-color: transparent;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  box-shadow: -12px -12px 0 white;
}

.info-tooltip-popup {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 100%;

  background-color: #fff;
  border-radius: 12px;
  z-index: 2;
  overflow: hidden;
  padding: 0;
  box-sizing: border-box;
  white-space: normal;

  width: 220px;
  max-height: 200px;
  padding: 10px 14px;
}

/* .info-tooltip-wrapper:hover .info-tooltip-popup {
  animation: box-expand 0.25s ease-out forwards 0.15s;
}

@keyframes box-expand {
  from {
    width: 24px;
    max-height: 0;
    padding: 0;
  }
  to {
    width: 220px;
    max-height: 200px;
    padding: 10px 14px;
  }
} */

/* Tooltip text */
.info-tooltip-popup span {
  /* opacity: 0; */
  display: block;
  font-size: 14px;
  color: #2a2a2a;
  white-space: normal;
  text-align: center;
}

/* .info-tooltip-wrapper:hover .info-tooltip-popup span {
  animation: fade-in 0.45s ease forwards 0.35s;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
} */