body {
  padding: 0;
  margin: 0;

  background-color: #111111;
  /* background-color: #262d26; */
}

.centered-div {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  font-family: "Montserrat";
}

.test-block {
  width: 600px;
  height: 400px;
}

.preview-button {
  min-width: 180px;
  min-height: 50px;
}
